<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="master_department" class="row">
    <div class="card col-md-10 ml-auto mr-auto">
        <div class="card-body">
            <form th:action="@{/master/department}" th:object="${department}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{enable}"/>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputModel">Department</label>
                        <input type="text" class="form-control" id="inputModel" th:field="*{name}"
                               placeholder="Department Name">
                    </div>
                </div>
                <button th:if="${isUpdate}" type="submit" class="btn btn-info">Update</button>
                <button th:unless="${isUpdate}" type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>

        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Department</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${departments.empty}">
                            <td colspan="3"> No Models Available</td>
                        </tr>
                        <tr th:each="department : ${departments}">
                            <td class="text-center" th:inline="text">[[${department.id}]]</td>
                            <td class="text-center" th:inline="text">[[${department.name}]]</td>
                            <td class="td-actions text-center">
                                <a class="btn btn-success btn-round"
                                   th:href="${#httpServletRequest.RequestURL+'?isUpdate=true&id='+department.id}">Edit</a>
                                <a type="submit" th:if="${department.isEnable()}"
                                   th:href="${#httpServletRequest.RequestURL+'/'+department.id}"
                                   class="btn btn-danger btn-round">
                                    Disable
                                </a>
                                <a type="submit" th:unless="${department.isEnable()}"
                                   th:href="${#httpServletRequest.RequestURL+'/'+department.id}"
                                   class="btn btn-info btn-round">
                                    Enable
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>