<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="master_model" class="row">
    <div class="card col-md-10 ml-auto mr-auto">
        <div class="card-body">
            <form th:action="@{/master/model}" th:object="${model}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputModel">Model</label>
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{enable}"/>
                        <input th:if="${isUpdate}" type="text" class="form-control"
                               id="inputModel"
                               name="model_name"
                               th:field="*{name}">
                        <input th:unless="${isUpdate}" type="text" class="form-control"
                               id="inputModel"
                               name="model_name"
                               th:field="*{name}" placeholder="Model Name">
                    </div>
                </div>
                <button th:if="${isUpdate}" type="submit" class="btn btn-info">Update</button>
                <button th:unless="${isUpdate}" type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>

        <div class="card">
            <div class="table-responsive">
                <table class="table table-shopping">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Model</th>
                        <th class="text-center">Action</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${models.empty}">
                        <td colspan="3"> No Models Available</td>
                    </tr>
                    <tr th:each="model : ${models}">
                        <td class="text-center" th:inline="text">[[${model.id}]]</td>
                        <td class="text-center" th:inline="text">[[${model.name}]]</td>
                        <td class="td-actions text-center">
                            <a class="btn btn-success btn-round"
                               th:href="${#httpServletRequest.RequestURL+'?isUpdate=true&id='+model.id}">Edit</a>
                            <a type="submit" th:if="${model.isEnable()}"
                               th:href="${#httpServletRequest.RequestURL+'/'+model.id}"
                               class="btn btn-danger btn-round">
                                Disable
                            </a>
                            <a type="submit" th:unless="${model.isEnable()}"
                               th:href="${#httpServletRequest.RequestURL+'/'+model.id}"
                               class="btn btn-info btn-round">
                                Enable
                            </a>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>