<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="master_unit" class="row">
    <div class="card col-md-10 ml-auto mr-auto">
        <div class="card-body">
            <form th:action="@{/master/unit}" th:object="${unit}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{enable}"/>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUnitType">Unit Type</label>
                        <select id="inputUnitType" th:field="*{unitType}" class="form-control">
                            <option value="HEAD_QUARTER">Head Quarter</option>
                            <option value="OFFICE">Office</option>
                            <option value="OUTLET">Outlet</option>
                            <option value="WAREHOUSE">Warehouse</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUnitName">Unit Name</label>
                        <input type="text" class="form-control" id="inputUnitName" th:field="*{unitName}"
                               placeholder="Outlet Name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <select id="inputCity" th:field="*{city}" class="form-control">
                            <option value="Palembang">Palembang</option>
                            <option value="Jakarta">Jakarta</option>
                            <option value="Medan">Medan</option>
                            <option value="Bekasi">Bekasi</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputUnitAddress">Address</label>
                        <input type="text" class="form-control" th:field="*{address}" id="inputUnitAddress"
                               placeholder="Outlet Address">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputUnitZipCode">Zip Code</label>
                        <input type="text" class="form-control" th:field="*{zipCode}" id="inputUnitZipCode"
                               placeholder="Outlet Zip Code">
                    </div>
                </div>
                <button th:if="${isUpdate}" type="submit" class="btn btn-info">Update</button>
                <button th:unless="${isUpdate}" type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>

        <div class="card">

            <div class="card-header"></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead>
                        <tr>
                            <th class="text-center">Unit Code</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">City</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Address</th>
                            <th class="text-center">Zip Code</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${units.empty}">
                            <td colspan="7" class="text-center"> No Unit Available</td>
                        </tr>
                        <tr th:each="unit : ${units}">
                            <td class="text-center" th:inline="text">[[${unit.id}]]</td>
                            <td class="text-center" th:inline="text">[[${unit.unitType}]]</td>
                            <td class="text-center" th:inline="text">[[${unit.city}]]</td>
                            <td class="text-center" th:inline="text">[[${unit.unitName}]]</td>
                            <td class="text-center" th:inline="text">[[${unit.address}]]</td>
                            <td class="text-center" th:inline="text">[[${unit.zipCode}]]</td>
                            <td class="td-actions text-center">
                                <a class="btn btn-success btn-round"
                                   th:href="${#httpServletRequest.RequestURL+'?isUpdate=true&id='+unit.id}">Edit</a>
                                <a type="submit" th:if="${unit.isEnable()}"
                                   th:href="${#httpServletRequest.RequestURL+'/'+unit.id}"
                                   class="btn btn-danger btn-round">
                                    Disable
                                </a>
                                <a type="submit" th:unless="${unit.isEnable()}"
                                   th:href="${#httpServletRequest.RequestURL+'/'+unit.id}"
                                   class="btn btn-info btn-round">
                                    Enable
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>