<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="modal_order_purchase" class="modal fade" id="requestOrderList" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-bs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Po Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title" th:inline="text">Receipt ID : [[${receipt.id}]]</span><br>
                        <span class="card-title"
                              th:inline="text">Received By : [[${receipt.receiver}]]</span><br>
                        <span class="card-title" th:inline="text">Supplier : [[${receipt.supplier.name}]]</span><br>
                        <span class="card-title" th:inline="text">RO ID : [[${receipt.requestOrder.id}]]</span><br>
                        <span class="card-title"
                              th:inline="text">Requested By : [[${receipt.requestOrder.requester}]]</span><br>
                        <span class="card-title"
                              th:inline="text">Approved By : [[${receipt.requestOrder.approver}]]</span><br>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-shopping">
                                <thead>
                                <tr>
                                    <th class="text-center">Asset ID</th>
                                    <th class="text-center">Asset Code</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Created Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${receipt.assets.empty}">
                                    <td colspan="5" class="text-center"> No Asset Available</td>
                                </tr>
                                <tr th:each="asset : ${receipt.assets}">
                                    <td class="text-center" th:inline="text">[[${asset.id}]]</td>
                                    <td class="text-center" th:inline="text">[[${asset.code}]]</td>
                                    <td class="text-center" th:inline="text">[[${asset.assetStatus}]]</td>
                                    <td class="text-center" th:inline="text">[[${asset.createdDate}]]</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
</body>
</html>