<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="modal_asset" class="modal fade" id="requestOrderList" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-bs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Asset List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-shopping">
                                <thead>
                                <tr>
                                    <th class="text-center">Asset ID</th>
                                    <th class="text-center">Asset Code</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Created Date</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="asset : ${assets}">
                                    <td class="text-center" th:inline="text">[[${asset.id}]]</td>
                                    <td class="text-center" th:inline="text">[[${asset.code}]]</td>
                                    <td class="text-center" th:inline="text">[[${asset.assetStatus}]]</td>
                                    <td class="text-center" th:inline="text">[[${asset.createdDate}]]</td>
                                    <td class="td-actions text-center">
                                        <form th:action="@{/item/shipment/asset/add/{roId}/{assetId} (roId=${ro_id},assetId=${asset.id})}"
                                              th:object="${addAssetDto}" method="post">
                                            <input type="hidden" th:field="*{roId}" th:value="${ro_id}">
                                            <input type="hidden" th:field="*{assetId}" th:value="${asset.id}">
                                            <button type="submit" class="btn btn-danger btn-round">Select</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
</body>
</html>