<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="asset_adjustment_detail" class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <br>
        <div class="card">
            <div class="card-header row">
                <div class="col-md-12 text-center">
                    <span class="card-title" th:inline="text">Stock Opname ID : [[${so.id}]]</span>
                    <br>
                    <br>
                </div>
                <div class="form-group col-md-8">
                    <table>
                        <tr>
                            <th colspan="text-left">Unit Name</th>
                            <th colspan="text-left">&nbsp;:</th>
                            <td colspan="text-right">&nbsp;[[${unit.unitName}]]</td>
                        </tr>
                        <tr>
                            <th colspan="text-left">Product</th>
                            <th colspan="text-left">&nbsp;:</th>
                            <td colspan="text-right">&nbsp;[[${product.name}]]</td>
                        </tr>
                        <tr>
                            <th colspan="text-left">Model</th>
                            <th colspan="text-left">&nbsp;:</th>
                            <td colspan="text-right">&nbsp;[[${product.model}]]</td>
                        </tr>
                        <tr>
                            <th colspan="text-left">Brand</th>
                            <th colspan="text-left">&nbsp;:</th>
                            <td colspan="text-right">&nbsp;[[${product.brand}]]</td>
                        </tr>
                        <tr>
                            <th colspan="text-left">Book Qty</th>
                            <th colspan="text-left">&nbsp;:</th>
                            <td colspan="text-left">&nbsp;[[${soDetail.qty}]]</td>
                        </tr>
                        <tr th:if="${soDetail.isComplete}">
                            <th colspan="text-left">Adjusted Qty</th>
                            <th colspan="text-left">&nbsp;:</th>
                            <td colspan="text-left">&nbsp;[[${soDetail.qtyAdjustment}]]</td>
                        </tr>
                    </table>
                </div>
                <div class="form-group col-md-4">
                    <div class="input-group no-border">
                        <input type="text" id="inputPurchaseOrderID" value="" class="form-control"
                               placeholder="Search...">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead>
                        <tr>
                            <th class="text-center">Asset Code</th>
                            <th class="text-center">Asset Status</th>
                            <th th:unless="${soDetail.isComplete}" class="text-center"></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="soAsset : ${assets}">
                            <input type="hidden">
                            <td class="text-center" th:inline="text">[[${soAsset.asset.code}]]</td>
                            <td class="text-center" th:inline="text">[[${soAsset.status}]]</td>
                            <div th:unless="${soDetail.isComplete}">
                                <td th:if="${#strings.equals(soAsset.status,'OK')}" class="td-actions">
                                    <form th:action="@{/asset/detail/adjustment/{detailId}/{soAssetId}(action='not_ok',detailId=${soDetail.id},soAssetId=${soAsset.id})}"
                                          method="post">
                                        <button type="submit" class="btn btn-round btn-danger">Not Ok</button>
                                    </form>
                                </td>
                                <td th:unless="${#strings.equals(soAsset.status,'OK')}" class="td-actions">
                                    <form th:action="@{/asset/detail/adjustment/{detailId}/{soAssetId}(action='ok',detailId=${soDetail.id},soAssetId=${soAsset.id})}"
                                          method="post">
                                        <button type="submit" class="btn btn-round btn-success">Ok</button>
                                    </form>
                                </td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <br>
                <br>
                <br>
                <div th:if="${soDetail.isComplete}" class="col-md-12 text-xl-center">
                    <a th:href="@{/asset/adjustment(unitId=${unit.id})}" class="btn btn-info">Back</a>
                    <a class="btn btn-dark">Print</a>
                </div>
                <div th:unless="${soDetail.isComplete}" class="col-md-12 text-xl-center">
                    <a th:href="@{/asset/adjustment(unitId=${unit.id})}" class="btn btn-info">Back</a>
                    <form th:action="@{/asset/detail/adjustment/complete(detailId=${soDetail.id})}" method="post">
                        <button type="submit" class="btn btn-info">Complete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>