<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="change_password" class="row">
    <div class="card-body">
        <form method="post" th:action="@{/credential}" th:object="${changePasswordModel}">
            <div>
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6 col-md-6 pr-1">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" th:field="*{newPassword}" class="form-control"
                                   placeholder="*******">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6 col-md-6 pr-1">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" th:field="*{passwordConfirmation}" class="form-control"
                                   placeholder="********">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6 col-md-6 pr-1">
                        <div class="form-group">
                            <button class="btn btn-danger btn-round" type="submit">Change Password</input>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>