<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer" class=" container-fluid ">
    <nav>
        <ul>
            <li>
                <a href="https://www.creative-tim.com">
                    Y&R
                </a>
            </li>
            <li>
                <a href="http://presentation.creative-tim.com">
                    About Us
                </a>
            </li>
            <li>
                <a href="http://blog.creative-tim.com">
                    Blog
                </a>
            </li>
        </ul>
    </nav>
    <div class="copyright" id="copyright">
        ©
        <script>
            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
        </script>
        , Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a
            href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
    </div>
</div>
</body>
</html>