<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="item_receipt" class="row">

    <div class="card col-md-10 ml-auto mr-auto">

        <div th:if="${isReceiptExist}">
            <br>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Supplier Detail</h5><br>
                    <span class="card-title" th:inline="text">Name : [[${existingItemReceipt.supplier.name}]]</span>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="displaySupplierPhone1">Supplier Phone 1</label>
                            <input type="text" th:value="${existingItemReceipt.supplier.phone1}"
                                   class="form-control text-center" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="displaySupplierPhone2">Supplier Phone 2</label>
                            <input type="text" th:value="${existingItemReceipt.supplier.phone2}"
                                   class="form-control text-center" disabled>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <span class="card-title">RO Detail</span>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="displayRequestedBy">Order ID</label>
                            <input type="text" id="displayRequestedBy"
                                   th:value="${existingItemReceipt.requestOrder.id}"
                                   class="form-control text-center" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="displayRequestedBy">Requested By</label>
                            <input type="text" id="displayRequestedBy"
                                   th:value="${existingItemReceipt.requestOrder.requester.firstName}"
                                   class="form-control text-center" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="displaySupplierPhone2">Approved By</label>
                            <input type="text" th:value="${existingItemReceipt.requestOrder.approver.firstName}"
                                   class="form-control text-center" disabled>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Ro Items</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-shopping">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Product ID</th>
                                        <th class="text-center">Brand</th>
                                        <th class="text-center">Model</th>
                                        <th class="text-center">Product Name</th>
                                        <th class="text-center">Qty</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="product : ${@collectionHelper.groupProductCount(existingItemReceipt.requestOrder.products)}">
                                        <td class="text-center" th:inline="text">[[${product.key.id}]]</td>
                                        <td class="text-center" th:inline="text">[[${product.key.brand.name}]]</td>
                                        <td class="text-center" th:inline="text">[[${product.key.model.name}]]</td>
                                        <td class="text-center" th:inline="text">[[${product.key.name}]]</td>
                                        <td class="text-center" th:inline="text">[[${product.value}]]</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <form th:action="@{/item/receipt/done/{id}(id=${existingItemReceipt.id})}" method="post">
                        <button th:if="${isItemContainAsset}" type="submit" class="btn btn-round btn-primary">
                            Done
                        </button>
                        <button th:unless="${isItemContainAsset}" type="submit" class="btn btn-round btn-dark" disabled>
                            Done
                        </button>
                    </form>
                </div>

            </div>

        </div>


        <div th:unless="${isReceiptExist}" class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="input-group no-border">
                        <input type="text" id="inputPoSupplier" value="" class="form-control"
                               placeholder="Search Supplier..." data-toggle="modal"
                               data-target="#supplierList">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="input-group no-border">
                        <input th:if="${isSupplierSelected}" type="text" id="inputPurchaseOrderID" value=""
                               class="form-control"
                               placeholder="Search Request Order..." data-toggle="modal"
                               data-target="#requestOrderList">
                        <input th:unless="${isSupplierSelected}" type="text" id="inputPurchaseOrderID"
                               placeholder="Search Request Order..."
                               class="form-control" disabled>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div th:if="${isSupplierSelected}" class="card">
                <div class="card-header">
                    <span class="card-title">Supplier Detail</span>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="displaySupplierName">Supplier Name</label>
                            <input type="text" class="form-control text-center" id="displaySupplierName"
                                   th:value="${supplier.name}" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="displaySupplierPhone1">Supplier Phone 1</label>
                            <input type="text" class="form-control text-center" id="displaySupplierPhone1"
                                   th:value="${supplier.phone1}" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="displaySupplierPhone2">Supplier Phone 1</label>
                            <input type="text" class="form-control text-center" id="displaySupplierPhone2"
                                   th:value="${supplier.phone2}" disabled>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${isRoSelected}" class="card">
                <div class="card-header">
                    <span class="card-title" th:inline="text">RO ID : [[${ro.id}]]</span>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="displaySupplierPhone1">Requested By</label>
                            <input type="text" class="form-control text-center" id="displayRoRequestedBy"
                                   th:value="${ro.requester.firstName}" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="displaySupplierPhone2">Approved By</label>
                            <input type="text" class="form-control text-center" id="displayRoApproverBy"
                                   th:value="${ro.approver.firstName}" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <form th:if="${isSupplierSelected && isRoSelected}" th:action="@{/item/receipt}"
                  th:object="${addItemReceiptModel}" method="post">
                <input type="hidden" th:field="*{supplier}">
                <input type="hidden" th:field="*{requestOrder}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPONumber">Purchase Order Number</label>
                        <input type="text" class="form-control text-center" id="inputPONumber"
                               th:field="*{poNumber}" placeholder="PO number">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputUnit">Model</label>
                        <select id="inputUnit" th:field="*{unit}" class="form-control">
                            <option th:each="u : ${units}" th:value="${u.id}"
                                    th:inline="text">[[${u.unitName}]]
                            </option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-round btn-primary">
                    Submit
                </button>
            </form>

            <div th:unless="${isSupplierSelected && isRoSelected}" class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control text-center" id="inputPONumber"
                           placeholder="PO number">
                </div>
            </div>

            <button th:unless="${isSupplierSelected && isRoSelected}" type="submit" class="btn btn-round btn-dark">
                Submit
            </button>

        </div>

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <span class="card-title">PO Item</span>
                    </div>
                    <div class="col-md-4">
                        <button th:if="${isReceiptExist}" class="pull-right btn btn-round btn-info"
                                data-toggle="modal"
                                data-target="#productList">
                            Add Item
                        </button>
                        <button th:unless="${isReceiptExist}" class="pull-right btn btn-round btn-dark" disabled>
                            Add Item
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead>
                        <tr>
                            <th class="text-center">Asset-ID</th>
                            <th class="text-center">Asset-Code</th>
                            <th class="text-center">Product Name</th>
                            <th class="text-center">Brand</th>
                            <th class="text-center">Model</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody th:if="${isReceiptExist}">
                        <tr th:each="as : ${existingItemReceipt.assets}">
                            <td class="text-center" th:inline="text">[[${as.id}]]</td>
                            <td class="text-center" th:inline="text">[[${as.code}]]</td>
                            <td class="text-center" th:inline="text">[[${as.product.name}]]</td>
                            <td class="text-center" th:inline="text">[[${as.product.brand}]]</td>
                            <td class="text-center" th:inline="text">[[${as.product.model}]]</td>
                            <td class="td-actions text-center">
                                <form th:action="@{/item/receipt/remove(assetId=${as.id},receiptId=${existingItemReceipt.id})}"
                                      method="post">
                                    <button type="submit" class="btn btn-danger btn-round">
                                        <i class="now-ui-icons ui-1_simple-remove"></i> Remove
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- supplier list -->
    <div class="modal fade" id="supplierList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-bs" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Supplier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-shopping">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Supplier ID</th>
                                        <th class="text-center">Supplier Name</th>
                                        <th class="text-center">City</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Address1</th>
                                        <th class="text-center">Address2</th>
                                        <th class="text-center">Phone1</th>
                                        <th class="text-center">Phone2</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${suppliers.empty}">
                                        <td colspan="9" class="text-center"> No Orders</td>
                                    </tr>
                                    <tr th:each="sup : ${suppliers}">
                                        <td class="text-center" th:inline="text">[[${sup.id}]]</td>
                                        <td class="text-center" th:inline="text">[[${sup.name}]]</td>
                                        <td class="text-center" th:inline="text">[[${sup.city}]]</td>
                                        <td class="text-center" th:inline="text">[[${sup.email}]]</td>
                                        <td class="text-center" th:inline="text">[[${sup.address1}]]</td>
                                        <td class="text-center" th:inline="text">[[${sup.address2}]]</td>
                                        <td class="text-center" th:inline="text">[[${sup.phone1}]]</td>
                                        <td class="text-center" th:inline="text">[[${sup.phone2}]]</td>
                                        <td class="td-actions text-center">
                                            <a class="btn btn-info btn-round"
                                               th:href="${#httpServletRequest.RequestURL+'?isSupplierSelected=true&supplierId='+sup.id}">Select</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- RO Modal -->
    <div class="modal fade" id="requestOrderList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-bs" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Request Order List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-shopping">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Request ID</th>
                                        <th class="text-center">Requested By</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Approved By</th>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Destination</th>
                                        <th class="text-center">Submitted Date</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${orders.empty}">
                                        <td colspan="7" class="text-center"> No Orders</td>
                                    </tr>
                                    <tr th:each="order : ${orders}">
                                        <td class="text-center" th:inline="text">[[${order.id}]]</td>
                                        <td class="text-center" th:inline="text">[[${order.requester.firstName}]]</td>
                                        <td class="text-center" th:inline="text">[[${order.status}]]</td>
                                        <td class="text-center" th:inline="text">[[${order.approver.firstName}]]</td>
                                        <td class="text-center" th:inline="text">[[${order.description}]]</td>
                                        <td class="text-center" th:inline="text">[[${order.from}]]</td>
                                        <td class="text-center" th:inline="text">[[${order.updatedDate}]]</td>
                                        <td th:if="${isSupplierSelected}" class="td-actions text-center">
                                            <a class="btn btn-info btn-round"
                                               th:href="@{${#httpServletRequest.RequestURL}(isSupplierSelected=true,supplierId=${supplier.id},isRoSelected=true,roId=${order.id})}">
                                                Select
                                            </a>
                                        </td>
                                        <td th:unless="${isSupplierSelected}" class="td-actions text-center">
                                            <a class="btn btn-info btn-round">
                                                Select
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal -->
    <div th:if="${isReceiptExist}" class="modal fade" id="productList" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-bs" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-shopping">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Product ID</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Type</th>
                                        <th class="text-center">Model</th>
                                        <th class="text-center">Brand</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${products.empty}">
                                        <td colspan="6" class="text-center">No Products for this supplier</td>
                                    </tr>
                                    <tr th:each="p : ${products}">
                                        <td class="text-center" th:inline="text">[[${p.id}]]</td>
                                        <td class="text-center" th:inline="text">[[${p.name}]]</td>
                                        <td class="text-center" th:inline="text">[[${p.productType}]]</td>
                                        <td class="text-center" th:inline="text">[[${p.brand.name}]]</td>
                                        <td class="text-center" th:inline="text">[[${p.model.name}]]</td>
                                        <td class="td-actions text-center">
                                            <form th:action="@{/item/receipt/add}"
                                                  th:object="${itemReceiptProductModel}" method="post">
                                                <input type="hidden" id="product" th:name="product"
                                                       th:value="${p.id}">
                                                <input type="hidden" id="itemReceipt" th:name="itemReceipt"
                                                       th:value="${existingItemReceipt.id}">
                                                <button type="submit" class="btn btn-info btn-round">Select</button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>