<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="item_shipment" class="row">
    <div class="card col-md-10 ml-auto mr-auto">
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="input-group no-border">
                            <input type="text" id="inputRequestOrderID" value="" class="form-control"
                                   placeholder="Search Request Order..." data-toggle="modal"
                                   data-target="#requestOrderList">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputRecipient">Recipient</label>
                        <input type="text" class="form-control" id="inputRecipient" value="Ms. Nurmala sari" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputDestination">Destination</label>
                        <input type="text" class="form-control" id="inputDestination" value="Outlet Taman Anggrek"
                               disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputSender">Sender</label>
                        <input type="text" class="form-control" id="inputSender" value="Mr. John F Lennon" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputSenderRole">Sender Role</label>
                        <input type="text" class="form-control" id="inputSenderRole" value="Asset Admin" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputSendFrom">Send From</label>
                        <input type="text" class="form-control" id="inputSendFrom" value="KFC Gelael HQ" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputSendNote">Note</label>
                        <input type="text" class="form-control" id="inputSendNote"
                               placeholder="Note something here ...">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>

        <div class="card">

            <div class="table-responsive">
                <table class="table table-shopping">
                    <thead>
                    <tr>
                        <th class="text-center">Request Order</th>
                        <th class="text-center">Sender</th>
                        <th class="text-center">Recipient</th>
                        <th class="text-center">Destination</th>
                        <th class="text-center">Submitted Date</th>
                        <th class="text-center">Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">RO-xxx-xxxx</td>
                        <td class="text-center">MR. Adam Lambert</td>
                        <td class="text-center">MR. Kurt Cobain</td>
                        <td class="text-center">Outlet Semanggi</td>
                        <td class="text-center">2021-12-12 14:00:00</td>
                        <td class="td-actions text-center">RECEIVED</td>
                    </tr>
                    <tr>
                        <td class="text-center">RO-xxx-xxxx</td>
                        <td class="text-center">MR. Benjamin Franklin</td>
                        <td class="text-center">MR. Freddy Mercury</td>
                        <td class="text-center">Outlet Kemang</td>
                        <td class="text-center">2021-12-12 14:00:00</td>
                        <td class="td-actions text-center">SEND</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="requestOrderList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-bs" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Request Order List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-shopping">
                                <thead>
                                <tr>
                                    <th class="text-center">Request ID</th>
                                    <th class="text-center">Request Category</th>
                                    <th class="text-center">Submitted Date</th>
                                    <th class="text-center">Requested By</th>
                                    <th class="text-center">Approved By</th>
                                    <th class="text-center">Action</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center">RO-2021-1234</td>
                                    <td class="text-center">RAM-Request-NewGate-18GB</td>
                                    <td class="text-center">2021-11-13 10:00:00</td>
                                    <td class="text-center">IT support 1</td>
                                    <td class="text-center">Asset Manager 1</td>
                                    <td class="td-actions text-center">
                                        <button class="btn btn-info btn-round">Add</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">RO-2021-123</td>
                                    <td class="text-center">Laptop-Request-AlienWare-2021</td>
                                    <td class="text-center">2021-09-13 10:00:00</td>
                                    <td class="text-center">IT support 1</td>
                                    <td class="text-center">Asset Manager 1</td>
                                    <td class="td-actions text-center">
                                        <button class="btn btn-info btn-round">Add</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">RO-2020-1234</td>
                                    <td class="text-center">Laptop-Request-Asus-ROG-zxv</td>
                                    <td class="text-center">2020-10-13 10:00:00</td>
                                    <td class="text-center">IT support 1</td>
                                    <td class="text-center">Asset Manager 1</td>
                                    <td class="td-actions text-center">
                                        <button class="btn btn-info btn-round">Add</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>