<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="item_transfer" class="row">
    <div class="card col-md-10 ml-auto mr-auto">
        <br>
        <div class="card">
            <div class="card-body">
                <form th:action="@{/item/transfer}" method="post" th:object="${createTransferModel}">
                    <div th:if="${isOrderExist}" class="form-row">
                        <div class="form-group col-md-6">
                            <label for="displayOrderID">Transfer Order</label>
                            <input type="text" class="form-control" id="displayOrderID" th:value="${existingOrder.id}"
                                   disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputTransferFrom">Transfer From</label>
                            <select id="inputTransferFrom" class="form-control" th:field="*{from}">
                                <option th:each="u,i:${units}" th:value="${u.id}" th:selected="${i==0}"
                                        th:inline="text">
                                    [[${u.unitName}]]
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputTransferTo">Transfer To</label>
                            <select id="inputTransferTo" class="form-control" th:field="*{to}">
                                <option th:each="u,i:${units}" th:value="${u.id}" th:selected="${i==0}"
                                        th:inline="text">
                                    [[${u.unitName}]]
                                </option>
                            </select>
                        </div>
                    </div>
                    <button th:if="${isOrderExist}" type="submit" class="btn btn-round btn-dark" disabled>
                        Create Transfer
                    </button>
                    <button th:unless="${isOrderExist}" type="submit" class="btn btn-round btn-primary">
                        Create Transfer
                    </button>
                </form>
            </div>
        </div>

        <div th:if="${isOrderExist}" class="card">
            <div class="card-header">
                <div class="form-row">
                    <div class="col-md-6">
                        <h6 class="card-title">Transfer Item List</h6>
                    </div>
                    <div class="form-group col-md-6">
                        <button class="btn btn-round btn-info pull-right"
                                data-toggle="modal"
                                data-target="#outletAssetList">Add Item
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead>
                        <tr>
                            <th class="text-center">Asset Code</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">Brand</th>
                            <th class="text-center">Model</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="a:${existingOrder.assets}">
                            <td class="text-center" th:inline="text">[[${a.code}]]</td>
                            <td class="text-center" th:inline="text">[[${a.product.name}]]</td>
                            <td class="text-center" th:inline="text">[[${a.product.productType}]]</td>
                            <td class="text-center" th:inline="text">[[${a.product.brand}]]</td>
                            <td class="text-center" th:inline="text">[[${a.product.model}]]</td>
                            <td class="td-actions text-center">
                                <form method="post"
                                      th:action="@{/item/transfer/remove/{orderId}/{assetId}(orderId=${existingOrder.id},assetId=${a.id})}">
                                    <button class="btn btn-danger btn-round">Remove</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputSendNote">Note</label>
                        <textarea class="form-control"
                                  id="inputSendNote" rows="3"></textarea>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-round btn-primary">Submit</button>
            </div>
        </div>

        <br/>
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Transfer Request List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead>
                        <tr>
                            <th class="text-center">Transfer ID</th>
                            <th class="text-center">PIC</th>
                            <th class="text-center">From</th>
                            <th class="text-center">To</th>
                            <th class="text-center">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">TF-xxx-xxxx</td>
                            <td class="text-center">MR. Adam Lambert</td>
                            <td class="text-center">Outlet Kemang</td>
                            <td class="text-center">Outlet Semanggi</td>
                            <td class="text-center">DONE</td>
                        </tr>
                        <tr>
                            <td class="text-center">TF-xxx-xxxx</td>
                            <td class="text-center">MR. Adam Lambert</td>
                            <td class="text-center">Outlet Kemang</td>
                            <td class="text-center">Outlet Semanggi</td>
                            <td class="text-center">WAITING_APPROVAL</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div th:if="${isOrderExist}" class="modal fade" id="outletAssetList" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-bs" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Outlet A Assets</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-shopping">
                            <thead>
                            <tr>
                                <th class="text-center">Asset Code</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Brand</th>
                                <th class="text-center">Model</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="a:${assets}">
                                <td class="text-center" th:inline="text">[[${a.code}]]</td>
                                <td class="text-center" th:inline="text">[[${a.product.name}]]</td>
                                <td class="text-center" th:inline="text">[[${a.product.productType}]]</td>
                                <td class="text-center" th:inline="text">[[${a.product.brand}]]</td>
                                <td class="text-center" th:inline="text">[[${a.product.model}]]</td>
                                <td class="td-actions text-center">
                                    <form method="post"
                                          th:action="@{/item/transfer/add/{orderId}/{assetId}(orderId=${existingOrder.id},assetId=${a.id})}">
                                        <button class="btn btn-info btn-round">Add</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>