<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="notification" class="row">

    <div class="col-md-8 ml-auto mr-auto">

        <div th:unless="${isDetail}" class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-right"></th>
                        <th class="text-right"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="n:${notifications}">
                        <td th:if="${n.alreadyRead}" class="text-left" th:inline="text">
                            [[${n.message}]]
                        </td>
                        <th th:unless="${n.alreadyRead}" class="text-left" th:inline="text">
                            [[${n.message}]]
                        </th>
                        <td th:if="${n.alreadyRead}" class="td-actions text-right">
                            <a th:href="@{/notification/{notificationId}(notificationId=${n.id})}"
                               class="btn btn-default btn-icon btn-round" data-toggle="modal"
                               th:attr="data-notification-id=${n.id}" data-target="#notificationDetail">
                                <i class="now-ui-icons education_glasses"></i>
                            </a>
                        </td>
                        <td th:unless="${n.alreadyRead}" class="td-actions text-right">
                            <a th:href="@{/notification/{notificationId}(notificationId=${n.id})}"
                               class="btn btn-default btn-icon btn-round" data-toggle="modal"
                               th:attr="data-notification-id=${n.id}" data-target="#notificationDetail">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <!-- modal-->
    <div class="modal fade" id="notificationDetail" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notification Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>