<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="order_purchase" class="row">
    <div class="card col-md-10 ml-auto mr-auto">
        <div class="card-header">
            <span class="card-title">Verified PO</span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-shopping">
                    <thead>
                    <tr>
                        <th class="text-center">Purchase Order</th>
                        <th class="text-center">Unit</th>
                        <th class="text-center">Recipient</th>
                        <th class="text-center">Supplier</th>
                        <th class="text-center">Status</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" r:${receipts} ">
                        <td class="text-center" th:inline="text">[[${r.purchaseOrder}]]</td>
                        <td class="text-center" th:inline="text">[[${r.location.unitName}]]</td>
                        <td class="text-center" th:inline="text">[[${r.receiver.firstName}]]</td>
                        <td class="text-center" th:inline="text">[[${r.supplier.name}]]</td>
                        <td class="text-center" th:inline="text">[[${r.status}]]</td>
                        <td class="text-center pull-left">
                            <form th:action="@{/item/receipt/complete/{id}(id=${r.id})}" method="post">
                                <button th:if="${#strings.equals(r.status,'VERIFIED')}" th:inline="text"
                                        class="btn btn-round btn-primary">Complete
                                </button>
                                <button th:unless="${#strings.equals(r.status,'VERIFIED')}"
                                        class="btn btn-round btn-dark" disabled>
                                    Complete
                                </button>
                            </form>
                        </td>
                        <td class="pull-left">
                            <button th:attr="data-receipt-id=${r.id}"
                                    data-toggle="modal"
                                    data-target="#assetPOListModal"
                                    class="btn btn-round btn-success">View
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>

    <div class="card col-md-10 ml-auto mr-auto">
        <div class="card-header">
            <span class="card-title">Completed PO</span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-shopping">
                    <thead>
                    <tr>
                        <th class="text-center">Purchase Order</th>
                        <th class="text-center">Unit</th>
                        <th class="text-center">Recipient</th>
                        <th class="text-center">Supplier</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" r:${completedReceipts} ">
                        <td class="text-center" th:inline="text">[[${r.purchaseOrder}]]</td>
                        <td class="text-center" th:inline="text">[[${r.location.unitName}]]</td>
                        <td class="text-center" th:inline="text">[[${r.receiver.firstName}]]</td>
                        <td class="text-center" th:inline="text">[[${r.supplier.name}]]</td>
                        <td class="text-center" th:inline="text">[[${r.status}]]</td>
                        <th class="text-center">
                            <a th:href="@{/item/receipt/pdf/{receiptId}(receiptId=${r.id})}"
                               class="btn btn-info btn-round" target="_blank">Print</a>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="assetPOListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-bs" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Asset List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>