<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="order_request" class="row">
    <div class="card col-md-10 ml-auto mr-auto">
        <div class="card-body">
            <form th:action="@{/order/request}" th:object="${request_order}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="requestOrderId">ID</label>
                        <input type="text" class="form-control" id="requestOrderId"
                               th:value="*{id}" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputOrderID">Created By</label>
                        <input type="text" class="form-control" id="inputOrderID"
                               th:value="${user.userDetail.firstName}" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="picDepartment">User Department</label>
                        <input type="text" class="form-control" id="picDepartment"
                               th:value="${user.userDetail.department.name}" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUserRole">User Role</label>
                        <input type="text" class="form-control" id="inputUserRole"
                               th:value="${user.userDetail.position}" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="requestOrderDesc">Description</label>
                        <input type="text" class="form-control" th:field="*{description}" id="requestOrderDesc"
                               placeholder="Request Description">
                    </div>
                </div>
                <button th:if="${requestOrderExist}" type="submit" class="btn btn-primary" disabled>Create</button>
                <button th:unless="${requestOrderExist}" type="submit" class="btn btn-primary">Create</button>
            </form>

            <br>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="input-group no-border">
                        <input type="text" id="inputRequestOrderID" value="" class="form-control"
                               placeholder="Choose Products..." data-toggle="modal"
                               data-target="#productList">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header"></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-shopping">
                            <thead>
                            <tr>
                                <th class="text-center">Product ID</th>
                                <th class="text-center">Brand</th>
                                <th class="text-center">Model</th>
                                <th class="text-center">Product Name</th>
                                <th class="text-center">Qty</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${requested_products.empty}">
                                <td colspan="6" class="text-center"> No Products Picked</td>
                            </tr>
                            <tr th:each="product : ${requested_products}">
                                <td class="text-center" th:inline="text">[[${product.key.id}]]</td>
                                <td class="text-center" th:inline="text">[[${product.key.brand.name}]]</td>
                                <td class="text-center" th:inline="text">[[${product.key.model.name}]]</td>
                                <td class="text-center" th:inline="text">[[${product.key.name}]]</td>
                                <td class="text-center" th:inline="text">[[${product.value}]]</td>
                                <td class="td-actions text-center">
                                    <a class="btn btn-info btn-round"
                                       th:href="@{/order/request/product/remove/{productId}(productId=${product.key.id})}">
                                        Remove
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <a th:if="${requestOrderExist}" class="btn btn-danger btn-round"
               th:href="@{/order/request/approval/{roId}(roId=${request_order.id})}">
                Submit
            </a>
            <a th:unless="${requestOrderExist}" class="btn btn-dark btn-round">
                Submit
            </a>
        </div>
    </div>

    <div class="card col-md-10 ml-auto mr-auto">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-shopping">
                    <thead>
                    <tr>
                        <th class="text-center">Request ID</th>
                        <th class="text-center">Submitted Date</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td class="text-center" th:inline="text">[[${order.id}]]</td>
                        <td class="text-center" th:inline="text">[[${order.updatedDate}]]</td>
                        <td class="text-center" th:inline="text">[[${order.status}]]</td>
                        <td class="text-center" th:inline="text">[[${order.description}]]</td>
                        <td class="td-actions text-center">
                            <a th:unless=${#strings.equals(order.status,'CANCELED')} class="btn btn-danger btn-round"
                               th:href="@{/order/request/cancel/{roId}(roId=${order.id})}">
                                Cancel
                            </a>
                            <a th:if=${#strings.equals(order.status,'CANCELED')} class="btn btn-dark btn-round">
                                Cancel
                            </a>
                            <button class="btn btn-info btn-round">Print</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="productList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-bs" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Product ID</th>
                                        <th class="text-center">Brand</th>
                                        <th class="text-center">Model</th>
                                        <th class="text-center">Product Name</th>
                                        <th class="text-center">Qty</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="product : ${products}">
                                        <td class="text-center" th:inline="text">[[${product.id}]]</td>
                                        <td class="text-center" th:inline="text">[[${product.brand.name}]]</td>
                                        <td class="text-center" th:inline="text">[[${product.model.name}]]</td>
                                        <td class="text-center" th:inline="text">[[${product.name}]]</td>
                                        <td class="text-center" th:inline="text">
                                            <input th:id="'qty-'+${product.id}" type="number" class="form-control">
                                        </td>
                                        <td class="td-actions text-center">
                                            <button th:attr="data-product-id=${product.id},data-qty-id=${'#qty-'+product.id}"
                                                    class="btn btn-round btn-info" onclick="addRoItem(this)">Add
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>