<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="sidebar" class="sidebar" data-color="red">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo" style="text-align: right;">
        <img th:src="@{/img/kfc.svg}" alt="" style="width:80%;"/>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a th:href="@{/}">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li th:each="menu : ${menus}">
                <a th:href="@{${menu.path}}">
                    <i class="now-ui-icons arrows-1_minimal-right"></i>
                    <p th:text="${menu.label}"/>
                </a>
            </li>
        </ul>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
</body>
</html>