<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="menu_management" class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="card">
            <div class="card-header"><h4 class="card-title">&nbsp;&nbsp;Menu Management</h4></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Menu</th>
                            <th>Path</th>
                            <th class="text-right"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="m:${availableMenus}">
                            <td th:inline="text">[[${m.label}]]</td>
                            <td th:inline="text">[[${m.path}]]</td>
                            <td class="td-actions text-right">
                                <form th:action="@{/management/menu/status/{id}(id=${m.id})}" method="post">
                                    <button th:if="${m.enable}" type="submit" class="btn btn-round btn-danger">Disable
                                    </button>
                                    <button th:unless="${m.enable}" type="submit" class="btn btn-round btn-success">
                                        Enable
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>