<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="role_management" class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <div th:unless="${isUpdate}" class="card">
            <div class="card-header">
                <span class="card-title">Create Role</span>
            </div>
            <div class="card-body">
                <form th:object="${roleModel}" th:action="@{/management/role}" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputRoleName">Role Name</label>
                            <input type="text" class="form-control" id="inputRoleName" th:field="*{name}"
                                   placeholder="Role Name">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Role</button>
                </form>
            </div>
        </div>
        <br>
        <div th:unless="${isUpdate}" class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Role ID</th>
                            <th>Role Name</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="r:${availableRoles}">
                            <td th:inline="text">R-[[${r.id}]]</td>
                            <td th:inline="text">[[${#strings.replace(r.name,'ROLE_','')}]]</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" class="btn btn-info">
                                    <i class="now-ui-icons users_single-02"></i>
                                </button>
                                <a th:href="@{/management/role(isUpdate=true,roleId=${r.id})}" rel="tooltip"
                                   class="btn btn-success">
                                    <i class="now-ui-icons ui-2_settings-90"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div th:if="${isUpdate}" class="card">
            <div class="card-header">
                <span class="card-title">Role Management</span>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputRoleName">Role Name</label>
                                <input type="text" class="form-control" th:value="${selectedRole.name}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card table-responsive">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Menu Name</th>
                                        <th class="text-center">Path</th>
                                        <th class="text-center"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="m:${selectedRole.menus}">
                                        <th class="text-center" th:inline="text">[[${m.label}]]</th>
                                        <th class="text-center" th:inline="text">[[${m.path}]]</th>
                                        <th class="text-center" th:inline="text">
                                            <form th:action="@{/role/menu/remove/{roleId}/{menuId}(roleId=${selectedRole.id},menuId=${m.id})}"
                                                  method="post">
                                                <button class="btn btn-danger btn-round">Remove</button>
                                            </form>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">Available Menu</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">Menu Name</th>
                                    <th class="text-center">Path</th>
                                    <th class="text-right"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="m:${availableMenus}">
                                    <td class="text-center" th:inline="text">[[${m.label}]]</td>
                                    <td class="text-center" th:inline="text">[[${m.path}]]</td>
                                    <td class="td-actions text-right">
                                        <form th:action="@{/role/menu/add/{roleId}/{menuId}(roleId=${selectedRole.id},menuId=${m.id})}"
                                              method="post">
                                            <button type="submit" rel="tooltip" class="btn btn-info">
                                                <i class="now-ui-icons ui-1_simple-add"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>