<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="user_management" class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="card">
            <div class="card-title"><h4>&nbsp;&nbsp;User Registration</h4></div>
            <div class="card-body">
                <form th:action="@{/management/user}" method="post" th:object="${userModel}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmployeeID">Employee ID</label>
                            <input type="text" th:field="*{employeeId}" class="form-control" id="inputEmployeeID"
                                   placeholder="Employee ID">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputFirstName">Employee Name</label>
                            <input type="text" th:field="*{firstName}" class="form-control" id="inputFirstName"
                                   placeholder="First Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastName"></label>
                            <input type="text" th:field="*{lastName}" class="form-control" id="inputLastName"
                                   placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputUserDepartment">Department</label>
                            <select id="inputUserDepartment" th:field="*{department}" class="form-control">
                                <option th:each="d,i:${availableDepartments}" th:value="${d.id}"
                                        th:unless="${#strings.equals(d.name,'ROOT_DEPT')}"
                                        th:selected="${i==1}" th:inline="text">
                                    [[${d.name}]]
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputUserRole">Role</label>
                            <select id="inputUserRole" th:field="*{role}" class="form-control">
                                <option th:each="r,i:${availableRoles}" th:value="${r.id}" th:inline="text"
                                        th:selected="${i==1}">
                                    [[${#strings.replace(r.name,'ROLE_','')}]]
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputUserPosition">Unit</label>
                            <select id="inputUserPosition" th:field="*{position}" class="form-control">
                                <option th:each="position,i : ${T(com.ta.kfc.mercu.infrastructure.db.orm.model.actor.Position).values()}"
                                        th:unless="${#strings.equals(position,'ROOT')}"
                                        th:value="${position}"
                                        th:selected="${i==1}" th:inline="text">
                                    [[${position}]]
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputUserUnit">Unit</label>
                            <select id="inputUserUnit" th:field="*{unit}" class="form-control">
                                <option th:each="u,i:${availableUnits}" th:value="${u.id}"
                                        th:selected="${i==1}" th:inline="text">
                                    [[${u.unitName}]]
                                </option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>


    <div class="col-md-10 ml-auto mr-auto">
        <div class="card">
            <div class="card-title col-md-4">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">Employee ID</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Department</th>
                            <th class="text-center">Role</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="u:${users}">
                            <td class="text-center" th:inline="text">[[${u.userDetail.code}]]</td>
                            <td class="text-center" th:inline="text">[[${u.userDetail.firstName}]]
                                [[${u.userDetail.lastName}]]
                            </td>
                            <th class="text-center" th:inline="text">[[${u.userDetail.department}]]</th>
                            <td class="text-center" th:inline="text">[[${u.roles}]]</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" class="btn btn-info">
                                    <i class="now-ui-icons users_single-02"></i>
                                </button>
                                <button type="button" rel="tooltip" class="btn btn-success">
                                    <i class="now-ui-icons ui-2_settings-90"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>